.selected-color-box {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.default-colors {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
}

.default-color {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}