.timeline-item {
    height: 100%;
    border: 1px solid var(--background-color-low);
    border-radius: 5px;
    background-color: var(--background-color-highest);
}

.timeline-item.filtered {
    background-color: var(--primary-color);
}