button:hover {
    filter: brightness(110%);
}

button:active {
    filter: brightness(90%);
}

.button-filled {
    padding: 1rem 2rem;
    border-radius: 5px;
    color: var(--background-color-lowest);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.button-filled.color-secondary {
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.button-filled.color-error {
    background-color: var(--color-error);
    border: 1px solid var(--color-error);
}

.button-filled.color-success {
    background-color: var(--color-success);
    border: 1px solid var(--color-success);
}

.button-text {
    background: none;
    border: none;
    outline: none;
    color: var(--text-color);   
}

.button-text:hover {
    color: var(--primary-color);
}

.button-text.color-secondary:hover {
    color: var(--secondary-color);
}

.button-text.color-error:hover {
    color: var(--color-error);
}

.button-text.color-success:hover {
    color: var(--color-success);
}

.button-icon {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.button-icon.color-error {
    color: var(--color-error);
}

.button-icon.color-success {
    color: var(--color-success);
}


.button-icon:hover {
    color: var(--primary-color);
}

.button-outline {
    padding: 1rem 2rem;
    border-radius: 5px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.button-outline {
    padding: 1rem 2rem;
    border-radius: 5px;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.button-outline.color-secondary {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.button-outline.color-error {
    border: 1px solid var(--color-error);
    color: var(--color-error);
}

.button-outline.color-success {
    border: 1px solid var(--color-success);
    color: var(--color-success);
}