:root {
  --primary-color: #faa307;
  --primary-color-variant: #a66c00;
  --secondary-color: #c80036;
  --secondary-color-variant: #7e0022;

  --text-color: #dbdbdb;
  --background-color-lowest: #000000;
  --background-color-low: #111111;
  --background-color-medium: #222222;
  --background-color-high: #333333;
  --background-color-highest: #444444;
  
  --main-green: #19837e;
  --main-red: #C7253E;
  --main-yellow: #d29a00;
  --main-blue: #46a1b5;
  --main-gray: #444444;

  --navbar-height: 55px;
  --mobile-width: 768px;

  font-size: 62.5%;
}

body {
  background-color: var(--background-color-low);
  color: var(--text-color);
  width: 100%;
  overflow-x: hidden;
  font-size: 1.8rem;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}